:host {
  margin: 0.5rem;
}

article {
  background-color: #189ab4;
  border-radius: 0.5rem;
  padding: 1rem;

  color: #d4f1f4;
  font-family: "Lato", sans-serif;

  h1 {
    font-size: 1.25rem;
    height: 3.75rem;
  }

  p {
    font-weight: lighter;
  }

  h1::first-letter,
  p::first-letter {
    text-transform: uppercase;
  }
}

article + article {
  margin-top: 1rem;
}

@media (min-width: 600px) {
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
  }

  article + article {
    margin-top: 0;
  }
}
