article {
  background-color: darkgray;
  border-radius: 0.5rem;
  padding: 1rem;

  font-family: "Lato", sans-serif;

  h1 {
    font-size: 1.25rem;
  }

  p {
    font-weight: lighter;
  }

  h1::first-letter,
  p::first-letter {
    text-transform: uppercase;
  }
}

article + article {
  margin-top: 1rem;
}
